<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

<!-- 加载首页的配置文件 -->
<!--     <context:property-placeholder location="classpath:IndexProperty/indexProperties.properties"/> -->


	<!-- 配置注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>
    
<!--     配置一个拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/order/**"/>
             <bean class="com.taotao.order.interceptor.OrderInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
	<!-- 视图解析器 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>

	<!-- 配置包扫描 -->
	<context:component-scan base-package="com.taotao.order.*"></context:component-scan>

	<!-- 静态资源映射 也可以这样处理 <mvc :resources location="/css/" mapping="/css/**" /> -->
	<mvc:default-servlet-handler />
    

	<!-- 引用dubbo服务 -->
	<dubbo:application name="taotao-order-web" />
	<!-- 注册中心地址 -->
	<dubbo:registry protocol="zookeeper" address="192.168.25.133:2181"></dubbo:registry>
    <dubbo:reference interface="com.taotao.order.service.CreateOrder" id="createOrder"></dubbo:reference>
    <dubbo:reference interface="com.taotao.sso.service.UserService" id="userService"></dubbo:reference>
</beans>
